Experiment 2

Delta_T(hz) 10

GAL_Frequency(sec) 5

PositionFi 0

PositionLambda 0

SkorostNK_forvard(m/s) 1

SkorostNK_starboard(m/s) 0

Kurs(grad) 0

kursDeviationSKO 12

Psi(grad) 0

Teta(grad) 0

EndTime(min) 60

Gals1N 1
Gals1E 0

Gals2N 1
Gals2E 1

Gals3N 0
Gals3E 1

Gals4N 0
Gals4E 0

MaxСoordinatesSKO(M) 15

MaxNumberOfEmersion 3
